<div class="container">
    <!-- BOOTSTRAP5 LINDO FORMULARIO PARA CONTATO -->
    <form action="processa.php" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite seu nome">
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu e-mail">
        </div>
        <div class="form-group">
            <label for="assunto">Assunto</label>
            <input type="text" class="form-control" name="assunto" id="assunto" placeholder="Digite o assunto">
        </div>
        <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea class="form-control" name="mensagem" id="mensagem" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>