<br>
<span>
    <svg bootstrap-icon="PersonBoundingBox" width="50" height="50" aria-label="PersonBoundingBox"></svg>
</span>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>

</div>